@import "../_variables";

.drawer-app-content {
  // Nice spaces
  padding: 64px 10%;
  // Nice justify
  text-align: justify;

  // On mobile social buttons are down and smaller
  @media (max-width: $media-width) {
    margin-bottom: 50px;
    padding: 32px;
  }
}
