@import "../_variables";
@import "../colors";

$button-size: 55px;
$transition-size: 20px;
$buttons: (
  (
    name: "twitter",
    color: $twitter-color,
    span: (
      background-position: 0 -68px,
    ),
  ),
  (
    name: "gitlab",
    color: $gitlab-color,
    span: (
      background: url(/images/logos/gitlab.svg) no-repeat 0 0,
    ),
  ),
  (
    name: "github",
    color: $github-color,
    span: (
      background-position: 0 -33px,
    ),
  )
);
$total-size: $button-size *
  length(
    $list: $buttons,
  );
$mobile-scale: 0.8;

.follow-me {
  z-index: 3;
  position: fixed;
  right: 0;
  // put it slightly upper then middle and subtract half of its size
  top: calc(45vh - (#{$total-size} / 2));
  width: $button-size;
  height: $total-size;

  /* on mobile put social down */
  @media (max-width: $media-width) {
    top: auto;
    // put at the middle but subtract half of its total width
    right: calc(50vw - (#{$total-size} / 2));
    bottom: calc(-#{$button-size} * (1 - #{$mobile-scale}) / 2);
    width: $total-size;
    height: $button-size;
    transform: scale($mobile-scale, $mobile-scale);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size + $transition-size;
    height: $button-size;
    padding-right: $transition-size;
    margin-right: -$transition-size;
    transition: transform 425ms cubic-bezier(0.05, 0.65, 0.18, 1);

    @media (max-width: $media-width) {
      float: left;
      display: inline;
      width: $button-size;
      padding: 10px;
      margin-right: 0;
      transition: none;
    }

    &:hover {
      transform: translateX(-$transition-size);
      @media (max-width: $media-width) {
        transform: none;
      }
    }
  }

  ul {
    list-style: none;

    li {
      display: list-item;
    }
  }

  span {
    display: block;
    width: $button-size - 20px;
    height: $button-size - 20px;
    background: url(/images/logos/social.svg) no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em;
  }

  @each $button in $buttons {
    .#{map-get($button, name)} {
      background-color: map-get($button, color);

      span {
        @each $key, $value in map-get($button, span) {
          #{$key}: $value;
        }
      }
    }
  }
}
