@import "../_variables";

.drawer {
  // Do not move with the page
  position: fixed;

  // Needed because mdc-theme--surface was applied after mdc-drawer hence with default color
  background-color: var(--mdc-theme-surface);
}
