// Gruvbox theme colors
$dark0: #282828;
$dark1: #3c3836;
$dark2: #504945;
$dark3: #665c54;
$dark4: #7c6f64;

$light0: #fbf1c7;
$light1: #ebdbb2;
$light2: #d5c4a1;
$light3: #bdae93;
$light4: #a89984;

$red_bright: #fb4934;
$red_neutral: #cc241d;
$red_faded: #9d0006;

$green_bright: #b8bb26;
$green_neutral: #98971a;
$green_faded: #79740e;

$yellow_bright: #fabd2f;
$yellow_neutral: #d79921;
$yellow_faded: #b57614;

$blue_bright: #83a598;
$blue_neutral: #458588;
$blue_faded: #076678;

$purple_bright: #d3869b;
$purple_neutral: #b16286;
$purple_faded: #8f3f71;

$aqua_bright: #8ec07c;
$aqua_neutral: #689d6a;
$aqua_faded: #427b58;

$orange-bright: #fe8019;
$orange-neutral: #d65d0e;
$orange-faded: #af3a03;

// Third-party colors
$twitter-color: #3299ff;
$gitlab-color: #30353e;
$github-color: #4e545a;
