@import "_variables";
@import "_colors";

::selection {
  background-color: $light3;
}

p {
  margin-top: 10px;
}

h2 {
  margin-top: 30px;
}

a {
  font-weight: 500;
  line-height: 1.125em;
  text-decoration: none;
  padding: 4px;
  transition: background-color 0.2s ease-out 0.05s;
  border-radius: 2px;
  color: $blue-neutral;

  &:hover {
    color: $blue-faded;
    background-color: $light3;
  }
}

.mdc-button {
  padding-left: 20px;
  padding-right: 20px;
}
